.card {
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
}

.card-tech {
    font-size: 0.9rem;
    color: #6c757d;
}

.card-review {
    font-size: 0.9rem;
    color: #495057;
}

.badge {
    margin-top: 10px;
}