html, body {
    height: 100%;
    margin: 0;
}

.content-wrapper {
    flex-grow: 1; /* Контент занимает оставшуюся высоту страницы */
    margin-top: 70px; /* Высота header, подстроить под ваш дизайн */
}
.content-wrapper {
    margin-top: 70px; /* Высота header, подстроить под ваш дизайн */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Убедитесь, что он выше других элементов */
    background-color: #343a40; /* Цвет фона заголовка */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень для эффекта */
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

footer {
    text-align: center;
    background-color: #343a40; /* Цвет фона */
    color: white; /* Цвет текста */
    padding: 1rem 0;
}
